<head>
    <link href="style-iphone.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>Radiant Images</h1>
    
    <section>
		<div class="right">
            
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet dolor nisi. Etiam pretium mauris eros, sed molestie diam condimentum a. Vestibulum eget dapibus diam. In malesuada diam et pharetra tincidunt. Praesent a ornare neque. Nulla facilisi. Nulla tincidunt vestibulum dui, et consectetur leo imperdiet tincidunt. Aenean at venenatis urna, et pulvinar nunc. Curabitur pharetra imperdiet velit, vel convallis odio. Nam porta, dolor quis feugiat posuere, lacus ante vestibulum sapien, in rutrum lacus augue vel libero. Nam scelerisque bibendum quam, eu dictum ligula. Duis a sapien eu quam varius scelerisque et vel nisl. Sed ac vehicula nunc, vel elementum magna. Pellentesque non tempor magna. Duis egestas nulla ac enim vulputate fermentum vel non neque.
			</p>
			<p> Ut eu sem efficitur, elementum quam consequat, auctor orci. Curabitur orci neque, pharetra nec volutpat quis, pharetra et velit. In iaculis, augue et commodo volutpat, enim mi congue leo, vel luctus risus nisl ac elit. Sed consequat arcu quis accumsan semper. Proin fermentum rhoncus erat, sed scelerisque arcu luctus quis. Pellentesque condimentum suscipit ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        </div>
    </section>
	
    <section>
        <div class="right">
            
    <p>(123) 456-7890<br>fax (123) 456-7890</p>
    <p>123 Main St<br>Somewhere, CA 90000</p>
            
        </div>
    </section>
    <br /><br />
    <section>
		<div class="right">
            
            <p> Designed and Developed by David Condrey.</p>

        </div>
    </section>

</body>
</html>